<body class="post">
<div class="hr">
        </div>
        <div class="hr4">
        </div> 
        <div class= "yagi">
        <h4>商品紹介</h4>
        </div>
        <div class="hr2">
        </div>   
        <div class="hr3">
        </div> 
        <br>
        ここでは診断の下にあった画像の商品のリンクと商品説明（サイト作成者の感想です。）を書いています。<br>
        興味がある人はぜひ買ってみてください！！新たな体験ができるかも？？<br> 
 
        
        <div class="shopBox">
        <div class="shopBox_contents">
        <div class="shopBox_img shopBox_inner_left">
        <a target="_blank"  href="https://www.amazon.co.jp/%E3%82%AF%E3%83%8A%E3%83%91%E3%83%BC-Knabber-ESSPAPiER-%E9%A3%9F%E3%81%B9%E3%82%8B%E7%B4%99-25g%C3%973%E5%80%8B%EF%BC%88%E9%87%8E%E3%82%A4%E3%83%81%E3%82%B4%E3%83%BB%E3%82%A4%E3%83%81%E3%82%B4%E3%83%BB%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9%E3%83%95%E3%83%AB%E3%83%BC%E3%83%84%E5%91%B3%EF%BC%89-%E9%9F%93%E5%9B%BD%E3%83%A2%E3%83%83%E3%83%91%E3%83%B3ASMR-YouTube/dp/B0BN37263M/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=4D2S64ZE2J8&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705937268&sprefix=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99%2Caps%2C180&sr=8-5;" />
        </div>
        <div class="shopBox_inner_right">
        <div class="shopBox_title"><a href="https://www.amazon.co.jp/%E3%82%AF%E3%83%8A%E3%83%91%E3%83%BC-Knabber-ESSPAPiER-%E9%A3%9F%E3%81%B9%E3%82%8B%E7%B4%99-25g%C3%973%E5%80%8B%EF%BC%88%E9%87%8E%E3%82%A4%E3%83%81%E3%82%B4%E3%83%BB%E3%82%A4%E3%83%81%E3%82%B4%E3%83%BB%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9%E3%83%95%E3%83%AB%E3%83%BC%E3%83%84%E5%91%B3%EF%BC%89-%E9%9F%93%E5%9B%BD%E3%83%A2%E3%83%83%E3%83%91%E3%83%B3ASMR-YouTube/dp/B0BN37263M/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=4D2S64ZE2J8&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705937268&sprefix=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99%2Caps%2C180&sr=8-5" target="_blank" rel="noopener noreferrer">Knabber ESSPAPiER 食べる紙 25g×3個（野イチゴ・イチゴ・ミックスフルーツ味）</a>
        <p>ブランド：クナパー</p>
        </div>
        <h3>説明</h3>
        この3つの中で一番美味しい。初めての体験にはこの紙がおすすめ！！中身は個包装ではなくまとめて入っているため、一気に食べたほうがいいかも？友達や家族とワイワイしながら食べると楽しい！！
        <ul class="shopBox_btn">
        <li class="shopBox_btn_item amazon"><a href="https://www.amazon.co.jp/%E3%82%AF%E3%83%8A%E3%83%91%E3%83%BC-Knabber-ESSPAPiER-%E9%A3%9F%E3%81%B9%E3%82%8B%E7%B4%99-25g%C3%973%E5%80%8B%EF%BC%88%E9%87%8E%E3%82%A4%E3%83%81%E3%82%B4%E3%83%BB%E3%82%A4%E3%83%81%E3%82%B4%E3%83%BB%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9%E3%83%95%E3%83%AB%E3%83%BC%E3%83%84%E5%91%B3%EF%BC%89-%E9%9F%93%E5%9B%BD%E3%83%A2%E3%83%83%E3%83%91%E3%83%B3ASMR-YouTube/dp/B0BN37263M/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=4D2S64ZE2J8&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705937268&sprefix=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99%2Caps%2C180&sr=8-5" target="_blank" rel="noopener noreferrer">Amazon</a></li>
        <li class="shopBox_btn_item rakuten"><a href="https://item.rakuten.co.jp/kawasakigroup/kunabber-3set/" target="_blank" rel="noopener noreferrer">楽天市場</a></li>
          </ul>
          </div>
          </div>
        </div>


        <div class="shopBox">
        <div class="shopBox_contents">
        <div class="shopBox_img shopBox_inner_left">
        <a target="_blank"  href="https://www.amazon.co.jp/%E3%83%95%E3%83%AD%E3%83%B3%E3%83%86%E3%82%A3%E3%82%A2-%E3%81%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E3%82%B7%E3%83%BC%E3%83%AB-%E3%81%99%E3%81%BF%E3%81%A3%E3%82%B3%E3%81%90%E3%82%89%E3%81%97-%EF%BC%91/dp/B08F23GF5G/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3DVW8BL6L0KK4&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705938338&s=food-beverage&sprefix=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99%2Cfood-beverage%2C234&sr=1-5;" />
        </div>
        <div class="shopBox_inner_right">
        <div class="shopBox_title"><a href="https://www.amazon.co.jp/%E3%83%95%E3%83%AD%E3%83%B3%E3%83%86%E3%82%A3%E3%82%A2-%E3%81%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E3%82%B7%E3%83%BC%E3%83%AB-%E3%81%99%E3%81%BF%E3%81%A3%E3%82%B3%E3%81%90%E3%82%89%E3%81%97-%EF%BC%91/dp/B08F23GF5G/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3DVW8BL6L0KK4&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705938338&s=food-beverage&sprefix=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99%2Cfood-beverage%2C234&sr=1-5" target="_blank" rel="noopener noreferrer">フロンティア たべられるアート すみっコぐらし1 Lサイズ(お弁当・料理・デザート用)</a>
        <p>ブランド：フロンティア株式会社</p>
        </div>
        <h3>説明</h3>
        三つの中では一番日常使い可能！お弁当が可愛くなってとても良い！！子供さんのお弁当でキャラ弁とか無理と思っているそこの保護者さん。これを入れるだけでも子供は喜ぶかも？一枚のシートに小さい紙たちがついているため、使用するときは連続使用できるときじゃないと困ると思う。
        <ul class="shopBox_btn">
        <li class="shopBox_btn_item amazon"><a href="https://www.amazon.co.jp/%E3%83%95%E3%83%AD%E3%83%B3%E3%83%86%E3%82%A3%E3%82%A2-%E3%81%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E3%82%B7%E3%83%BC%E3%83%AB-%E3%81%99%E3%81%BF%E3%81%A3%E3%82%B3%E3%81%90%E3%82%89%E3%81%97-%EF%BC%91/dp/B08F23GF5G/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3DVW8BL6L0KK4&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705938338&s=food-beverage&sprefix=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99%2Cfood-beverage%2C234&sr=1-5" target="_blank" rel="noopener noreferrer">Amazon</a></li>
        <li class="shopBox_btn_item rakuten"><a href="https://item.rakuten.co.jp/scbmitsuokun1972/4580416989930-1/">楽天市場</a></li>
          </ul>
          </div>
          </div>
        </div>

        <div class="shopBox">
        <div class="shopBox_contents">
        <div class="shopBox_img shopBox_inner_left">
        <a target="_blank"  href="https://www.amazon.co.jp/%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E3%83%86%E3%83%BC%E3%83%97-%E3%82%AA%E3%83%96%E3%83%A9%E3%82%A4%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB-%E8%89%B2%E3%81%AF%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0-%E3%83%AD%E3%83%BC%E3%83%AB%E3%82%A2%E3%83%83%E3%83%97%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%87%E3%82%A31%E6%9C%AC-%E3%83%86%E3%82%A3%E3%83%83%E3%82%AF%E3%83%88%E3%83%83%E3%82%AF/dp/B0C8N3RZ57/ref=sr_1_50?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705938758&sr=8-50" />
        </div>
        <div class="shopBox_inner_right">
        <div class="shopBox_title"><a href="https://www.amazon.co.jp/%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E3%83%86%E3%83%BC%E3%83%97-%E3%82%AA%E3%83%96%E3%83%A9%E3%82%A4%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB-%E8%89%B2%E3%81%AF%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0-%E3%83%AD%E3%83%BC%E3%83%AB%E3%82%A2%E3%83%83%E3%83%97%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%87%E3%82%A31%E6%9C%AC-%E3%83%86%E3%82%A3%E3%83%83%E3%82%AF%E3%83%88%E3%83%83%E3%82%AF/dp/B0C8N3RZ57/ref=sr_1_50?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705938758&sr=8-50" target="_blank" rel="noopener noreferrer">オブライトロール 6個セット 色ランダム
        食べられるテープ 食べる紙 食べるテープ</a>
        <p>ブランド：YOUNGDONG</p>
        </div>
        <h3>説明</h3>
        この中で一番人を選ぶと思う。オブラート得意な人は大丈夫かも？テープ状なのでとても長い。消費する際はぜひ一人ではなく大人数で挑むように！（私は一人で食べてとても消費に困りました ><;）
        <ul class="shopBox_btn">
        <li class="shopBox_btn_item amazon"><a href="https://www.amazon.co.jp/%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E3%83%86%E3%83%BC%E3%83%97-%E3%82%AA%E3%83%96%E3%83%A9%E3%82%A4%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB-%E8%89%B2%E3%81%AF%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0-%E3%83%AD%E3%83%BC%E3%83%AB%E3%82%A2%E3%83%83%E3%83%97%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%87%E3%82%A31%E6%9C%AC-%E3%83%86%E3%82%A3%E3%83%83%E3%82%AF%E3%83%88%E3%83%83%E3%82%AF/dp/B0C8N3RZ57/ref=sr_1_50?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E9%A3%9F%E3%81%B9%E3%82%89%E3%82%8C%E3%82%8B%E7%B4%99&qid=1705938758&sr=8-50" target="_blank" rel="noopener noreferrer">Amazon</a></li>
        <li class="shopBox_btn_item rakuten"><a href="https://item.rakuten.co.jp/dalkom/okashi-196/?iasid=07rpp_10095___eb-lrp3z8bb-by-e634840c-2ef8-4b8c-8eef-d6fb02e5851d">楽天市場</a></li>
          </ul>
          </div>
          </div>
        </div>


        <div class="sindanhajime2">
        <%= link_to "←診断ページに戻る", perfumes_path %>
        </div>
        <div class="toppage">
            <%= link_to "感想一覧ページへ→", posts_path %>
        </div>
        <div class="parent">
          <div class="child"><%= link_to "食べられる紙について", taberarerukamis_path %></div>
          <div class="child"><%= link_to "製法について", seihous_path %></div>
          <div class="child"><%= link_to "商品紹介", syouhinsyoukais_path %></div>
        </div>
</body>