<body class="post">
<div class="hr">
        </div>
        <div class="hr4">
        </div> 
        <div class= "yagi">
        <h4>どうやって作るのか？</h4>
        </div>
        <div class="hr2">
        </div>   
        <div class="hr3">
        </div>  
        
        <br>
        家で簡単に作る際に必要な道具は紙漉き道具・重曹・片栗粉・吸水シート（新聞紙でも可）・ミキサー・トレイ・材料となる野菜・鍋・水です。<br>
        紙漉きセットはホームセンターやネットで約1500円ほどで買えます。ちょっと高いなと思う方は紙漉き道具は家にある物や100均のもので代用可能です。<br>
        その方法は100均でフォトフレームを一つ、網戸を買ってきます。そしてフォトフレームのところに網戸を輪ゴムを使って止めます。<br>
        フォトフレームは基本的に何でもいいのですが、網戸を挟めるタイプのほうが輪ゴムで止める際とても楽だと思います!<br>
        (私自身が挟めないタイプでやったとき、私が不器用なだけかもしれませんが輪ゴムで止めるのに20分ほど時間がかかりました…)<br>
        作る工程として①ゆでる②細かくする③繊維を集める④乾かすの4つが主な流れです。<br>
        使用する野菜の量は③の工程のところで出ている繊維を多く集めたいので多めの方がやりやすいと思います！<br>
        野菜は②のところでミキサーにかけるのでミキサーが正常に動くサイズに切りましょう。<br>
        切った後は鍋でゆでます。ここでポイントです！！この時に重曹を加えることで野菜から食物繊維を出やすくします。<br>
        ゆでた後はミキサー





        <div class="sindanhajime2">
        <%= link_to "←診断ページに戻る", perfumes_path %>
        </div>
        <div class="toppage">
            <%= link_to "感想一覧ページへ→", posts_path %>
        </div>
        <div class="parent">
          <div class="child"><%= link_to "食べられる紙について", taberarerukamis_path %></div>
          <div class="child"><%= link_to "製法について", seihous_path %></div>
          <div class="child"><%= link_to "商品紹介", syouhinsyoukais_path %></div>
        </div>
</body>