<body class="post">
       <div class="hr">
        </div>
        <div class="hr4">
        </div> 
        <div class= "yagi">
        <h4>どうやって作るのか？</h4>
        </div>
        <div class="hr2">
        </div>   
        <div class="hr3">
        </div>  
        
        <br>
        家で簡単に作る際に必要な道具は紙漉き道具・重曹・片栗粉・吸水シート（新聞紙でも可）・ミキサー・トレイ・材料となる野菜・鍋・水です。<br>
        紙漉きセットはホームセンターやネットで約1500円ほどで買えます。ちょっと高いなと思う方は紙漉き道具は家にある物や100均のもので代用可能です。<br>
        その方法は100均でフォトフレームを一つ、網戸を買ってきます。そしてフォトフレームのところに網戸を輪ゴムを使って止めます。<br>
        フォトフレームは基本的に何でもいいのですが、網戸を挟めるタイプのほうが輪ゴムで止める際とても楽だと思います!<br>
        (私自身が挟めないタイプでやったとき、私が不器用なだけかもしれませんが輪ゴムで止めるのに20分ほど時間がかかりました…)<br>
        作る工程として①ゆでる②細かくする③繊維を集める④乾かすの4つが主な流れです。<br>
        使用する野菜の量は③の工程のところで出ている繊維を多く集めたいので多めの方がやりやすいと思います！<br>
        野菜は②のところでミキサーにかけるのでミキサーが正常に動くサイズに切りましょう。<br>
        切った後は鍋でゆでます。ここでポイントです！！この時に重曹を加えることで野菜から食物繊維を出やすくします。<br>
        ゆでた後は工程②ミキサーでペースト状にします。このとき水は約100mlほど入れるとミキサーが滑らかに動きます。（水の量は野菜の量で適宜変えてください。）ペースト状にした後は繊維を集めます。<br>
        ペースト状にしたものをトレイにいれます。このときミキサーの内側についているものももったいないので、水を入れてすすぎトレイの中に一緒に入れます。次にトロトロになるまで水溶き片栗粉をいれます。<br>
        トレイに入れた後は工程③作った紙漉き道具で繊維を集めていきます。集めていくことで網戸の部分に繊維が溜まっていき紙が完成するはずです。<br>
        網戸の上に集まったらそれを吸水シート（新聞紙でも代用可能）の上に乗せます。繊維が集まった網戸の上にもう一枚の網戸、さらにその上に布を置き、吸水シート（新聞紙でも代用可能）で挟みます。<br>
        本などを重ねて重しにして、乾燥した後の紙が曲がらないようにします。<br>
        乾燥してできたものはこちらになります！（初めて作ったときのなので少しボロボロです…）<br>
        <image src="../../../assets/image1 (11).jpeg">
        <br>
        曲げた感じはこんな感じになります！→
        <image src="../../../assets/image2 (8).jpeg">
        <br>
        上の画像にぼかしが入っているのは背景が生活感にあふれていたからです。ご了承ください。
        <div class="hr">
        </div>
        <div class="hr4">
        </div> 
        <div class= "yagi">
        <h4>どうして野菜で紙を作ることができるの？？</h4>
        </div>
        <div class="hr2">
        </div>   
        <div class="hr3">
        </div>  
        <br>
        まず紙というものは「セルロース」という繊維製の多糖からできています。<br>
        <h4>セルロース</h4>＝植物細胞を包む細胞壁の主な成分<br>
        <h3>私たちの日常にある紙の作られ方</h3>
        木材を粉砕したパルプ繊維を煮る<br>
        ↓<br>
        セルロース以外の成分を溶かしたり、機械で叩いたりして、繊維を細かくする<br>
        ↓<br>
        繊維同士を絡ませて紙になる<br>
        ☆紙は工場で作られる！！ <br>
        ☆不純物の割合が少ないほど、白く薄く丈夫な紙になる！！<br>
        紙の作り方を見ると繊維を細かくして、絡ませて紙にしています。<br>
        この原理を生かし野菜に含まれている食物繊維を細かくして、紙漉き道具で絡ませることで野菜で紙を作ることができます。<br>
        家で作りたい際は、食物繊維の量に注目して作ってみると新たな発見があるかも？？<br>




        <div class="sindanhajime2">
        <%= link_to "←診断ページに戻る", perfumes_path %>
        </div>
        <div class="toppage">
            <%= link_to "感想一覧ページへ→", posts_path %>
        </div>
        <div class="parent">
          <div class="child"><%= link_to "食べられる紙について", taberarerukamis_path %></div>
          <div class="child"><%= link_to "製法について", seihous_path %></div>
          <div class="child"><%= link_to "商品紹介", syouhinsyoukais_path %></div>
        </div>
</body>