<body class="post">
<div class="hr">
        </div>
        <div class="hr4">
        </div> 
        <div class= "yagi">
        <h4>食べられる紙について</h4>
        </div>
        <div class="hr2">
        </div>   
        <div class="hr3">
        </div>  
        <h2>食べられる紙って何？</h2>
        食べられる紙＝可食性紙の正式名称はエディブルペーパーと言います。<br>
        主な成分としてデンプンのものや野菜・寒天からできたものがあります。<br>
        主成分がデンプンのものは湿気に弱いです。
        <br>
        <br>
        <br>
        <h2>使用されている原材料</h2>
        実際に食べられる紙にはどんなものが使われているのか見てみましょう。今回使用するのは診断の中でASMR系に分類されるものです。下に参考画像があります。<br>
        <div class="ima">
        <img src="../../../assets/IMG_6500.JPG">
        </div>
        紫色は小麦粉、でん粉/クランベリー色素、香料、乳化剤、甘味料（スクラロース）、（一部に小麦・大豆を含む）<br>
        赤色は小麦粉、でん粉/着色料（アカビートジュース）、香料、乳化剤、甘味料（スクラロース）、（一部に小麦・大豆を含む）<br>
        青色は小麦粉、でん粉/香料、乳化剤、甘味料（スクラロース）、着色料（青1）、（一部に小麦・大豆を含む）<br>
        見てみるとやはりデンプンが入っていることが分かります。<br>
        <br>
        上では食べられる紙の主成分はデンプンや寒天であると書きましたが、日本・海外ではそれ以外を使用したものがあります。ここではそれを2つ紹介します。<br>
        <br>
        <br>
        <br>
        <h2>インドネシア発の包装紙</h2>
        インドネシアの会社Evowareが海藻からできた食べられる包装紙を開発しました<br>
        どうして海藻から包装紙を作ったのか理由は2つあります。<br>
        <h4>一つ目の理由</h4>
        現在、海洋のプラスチック汚染が問題になっています。インドネシアでは世界で2番目に多く海にプラスチックを放出しており、インドネシアの市場に並ぶ魚の約25％がプラスチックに汚染されています。この状況に貢献するべく開発しました。<br>
        <h4>二つ目の理由</h4>
        インドネシアでは海藻生産は過剰供給状態であり、海藻栽培漁師の多くは長く続く市場連鎖や高利貸の影響で貧しく、インドネシアの最も貧しい6つの州のうち5つが海藻を栽培しています。<br>
        そのため海藻栽培漁師の生活向上を目的として開発を行いました。<br>
        <br>
        
        <h2>日本の紙姫</h2>
        「静かな空間に響く”グー”というお腹の音。なんとかしたい！」という”つぶやき”から生まれた「食べられるメモ帳 kamihime」<br>
        このメモ帳は「可食紙」という食べられる紙で、ペンは「フードペン」という可食インクが使われているため、そのまま「パクリ」と食べることが出来ます。また、「可食紙」に「フードペン」で文字や絵を書くことができる、「メモ機能」も健在です！<br>
        「メモ帳」の「紙」には味・香りはありません。<br>
        箱の内側の食べ物のイラスト部分には香りが付いていて、食べ物のイラスト部分を指で擦ると香りが広がります。<br>
        <br>
        <br>
        <br>


        <h2>本当に紙を食べた話</h2>
        ここまで私たちがいつも使っている紙の事ではなく安全に食べられる紙について紹介してきました.<br>
        現代では紙を食べることはほとんどありませんが、今よりも昔では紙を食べたことがあるのでしょうか？調べてみると興味深いお話がありました。<br>
        紙の博物館編「紙のなんでも小辞典」には、江戸時代後期の学者である佐藤信淵（さとうのぶひろ）が著者の『経済要録』に記した「紙を食べたはなし」を紹介しています。<br>
        <br>
        <br>
        「天明の大飢饉のとき、家にたくさんあった古紙を水に浸け、よく蒸した上でほぐし、少しの糖と混ぜて餅として食べた。非常にうまかったので近所の人にも勧め、ついには村の寺にある大般若経や一切経をことごとく食べ尽くしてしまった。<br>
        しかしそのお陰で、村の住人600〜700人が生き延びることができたそうです」<br>
        <br>
      
        天明の大飢饉とは、1782年～1788年にかけて起きた飢饉の事です。岩木山と浅間山が相次いで噴火し、噴煙により日射量が低下して冷害をもたらしました。<br>
        これにより農作物煮は壊滅的な被害が発生し、深刻な飢饉が発生しました。
        <br>
        <br>
        エディブルペーパーとは違い、この時は命を守るための紙だったのですね。
        <br>
        <br>
        <br>
        <h2>食べられない方の紙食べてしまうとどうなる？</h2>
        <br>
        <h4>紙を食べた時病気になるのか？</h4>
        <br>
       
        ここで紹介している紙は人間が食べられる紙であるため有害ではないですが、昔の人は飢饉が発生した際古紙を蒸したうえでほぐし食べています。この時は緊急事態であったためしょうがないですが、現代の人が食べるとどうなるのか気になりませんか？<br>
        紙を食べると人間は病気になる可能性があります。紙を大量に食べることで腸が腫れ、栄養素を上手く吸収できなくなります。その他の症状として、様々な重症度のけいれんや下痢が含まれます。<br>
        さらに胃が紙を消化できないだけでなく、紙と一緒に消化する化学物質や細菌によっても危険にさらされます。<br>
        <br>
        <br>
        <h4>紙を食べる事への有害な影響</h4>
        <br>
        紙は一般的に人間が消費するのに安全ではありません。時々少しの紙は害がないかもしれません。しかし、摂食障害（異食症）の結果として紙を消費すると、胃腸の問題、閉塞、さらには臓器の穿孔などの重篤な合併症を引き起こす可能性があります。<br>
        
        大量の紙が腸内でパルプになると、腸が閉塞する可能性があります。これは危険であり、外科的介入が必要になる場合があります。さらに、紙を消費すると歯が損傷し、精神的な不快感を引き起こす可能性があります。<br>
        
        紙はセルロースでできており、人体で消化することはできません。セルロースに加えて、紙は人間の消費に悪影響を与える可能性がある、または腸が必須栄養素を吸収するのを妨げる可能性がある化学物質で処理されます。<br>
        <br>
        <br>
        <br>
        <h2>注意点</h2>
        この診断で紹介しているものは人体に悪影響を及ぼさない、食べても大丈夫なものです。<br>
        そのため普通の紙の方も食べられると誤解し、食べないようにしてください！！責任を持つことはできません。<br>

        






        <div class="sindanhajime2">
        <%= link_to "←診断ページに戻る", perfumes_path %>
        </div>
        <div class="toppage">
            <%= link_to "感想一覧ページへ→", posts_path %>
        </div>
        <div class="parent">
          <div class="child"><%= link_to "食べられる紙について", taberarerukamis_path %></div>
          <div class="child"><%= link_to "製法について", seihous_path %></div>
          <div class="child"><%= link_to "商品紹介", syouhinsyoukais_path %></div>
        </div>
</body>